.h1, h1 {
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
.h2, h2 {
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}

footer {
	font-size: 12px;
}
input, textarea, select {
	/*border-radius: 4px;*/
	
}
input[type=file] {
	width: 100%;
	padding: 3px;
}
#divMap {
	height: 500px;
	background-color: #EFEFEF;
}

.registry-entry {
	border: solid 1px #888888;
	border-radius: 0 0 5px 5px;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 15px;
	margin-bottom: 15px;
}
.registry-entry-header {
	border-bottom: solid 1px #888888;
	font-size: 20px;
	
}
.registry-entry-body {
	padding: 5px;
}
.registry-entry-comments {
	margin-top: 10px;
	padding-top: 7px;
	padding-left: 10px;
	border-left: solid 5px #EFEFEF;
}
.registry-entry-footer {
	border-top: solid 1px #EFEFEF;
	padding-left: 5px;
	padding-right: 5px;
}
.flag-entry {
	color: #AC2925;
	cursor: pointer;
}
.flag-entry:hover {
	color: #C9302C;
	text-decoration: none;
}
.map-small {
	background-color: #EFEFEF;
	border-radius: 4px;
	height: 300px;
	max-height: 300px;
}
.car-entry {
	margin-top: 35px;
}
.spacer-small {
	margin-bottom: 8px;
}
.spacer-medium {
	margin-bottom: 15px
}

.medium-canyon-red {
	background-color: #923525;
	color: #FFFFFF;
}
h2.inline-header {
	display: inline-block;
	vertical-align: bottom;
}
.form-field {
	whitespace: nowrap;
	display: inline-block;
	padding: 8px;
}
.form-field label {
	display: block;
}
.form-field textarea {
	width: 100%;	
}
.registry-entry-compact {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	border: solid 3px transparent;
	font-size: 18px;
}
.text-bigger {
	font-size: 18px;
}
.registry-entry-compact:hover {
	border: solid 3px #EFEFEF;
}
.stat-box {
	height: 240px;
	padding: 4px;
	border: solid 3px #EFEFEF;
	border-radius: 5px;
	margin-bottom: 5px;
}

.jumbotron {
	padding: 10px;
	margin: 5px 0px 5px 0px;
}

.display-inline {
	display: inline;
}

.vis.timeline .item {
	box-shadow: 2px 2px 2px #888888;
	background-color: #EFEFEF;
	border-radius: 3px;
}