.svo-1B {
	background-color: #7C7F85;
	color: #FFFFFF;
}

.svo-1C {
	background-color: #000000;
	color: #FFFFFF;
}

.svo-1D {
	background-color: #5D5E5B;
	color: #FFFFFF;
}

.svo-1E {
	background-color: #BCC3C5;
	color: #000000;
}

.svo-2A {
	background-color: #923525;
	color: #FFFFFF;
}

.svo-2R {
	background-color: #FF2020;
	color: #FFFFFF;
}

.svo-4E {
	background-color: #003826;
	color: #FFFFFF;
}

.svo-7B {
	background-color: #1F3841;
	color: #FFFFFF;
}

.svo-9L {
	background-color: #FEFEFE;
	color: #000000;
}

.svo-9W {
	background-color: #202020;
	color: #FFFFFF;
}