.svo-1B {
	background-color: #7C7F85;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-1C {
	background-color: #000000;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-1D {
	background-color: #5D5E5B;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-1E {
	background-color: #BCC3C5;
	color: #000000;
}
.svo-2A {
	background-color: #923525;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-2R {
	background-color: #FF2020;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-4E {
	background-color: #003826;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-7B {
	background-color: #061d50;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.svo-9L {
	background-color: #FEFEFE;
	color: #000000;
}
.svo-9W {
	background-color: #202020;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}