{% extends 'base.html' %}
{% block title %}Mustang SVO Registry - About{% endblock %}
{% block head %}
{% load staticfiles %}
<meta name="description" content="About the Mustang SVO Registry" />
{% endblock %}
{%block content %}
<h1>About The SVO Registry</h1>
<div class="text-bigger">
	<div>
		<img class="img-rounded img img-responsive center-block" src="{% static 'img/84ad.jpg' %}" alt="1984 Mustang SVO promotional image" />
	</div>
	<p>
		The Ford Mustang SVO was a limited-production version of the Ford Mustang sold from 1984 to 1986.
		SVOregistry.com was built as a way for owners, potential owners, and other SVO enthusiasts to read about the history of each SVO. 
		As the registry grows, SVO enthusiasts can track any SVO through time to read the history of the car as it has changed hands over the years. 
	</p>
	<p>
		Visitors should feel free to download entire copies of the registry and the <a href="https://github.com/srenner/svoregistry-v2">source code</a> that runs this site.
	</p>
	<p>
		More information about the Mustang SVO can be found at <a href="http://en.wikipedia.org/wiki/Ford_Mustang_SVO">Wikipedia</a>.
	</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
