{% extends 'base.html' %}
{% block title %}Mustang SVO Registry{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}
{%block content %}
<h1>About The SVO Registry</h1>
<div class="text-bigger">
	<p>
		The Ford Mustang SVO was a limited-production version of the Ford Mustang sold from 1984 to 1986.
		SVOregistry.com was built as a way for owners, potential owners, and other SVO enthusiasts to read about the history of each SVO. 
		As the registry grows, SVO enthusiasts can track any SVO through time to read the history of the car as it has changed hands over the years. 
	</p>
	<p>
		Visitors should feel free to download entire copies of the registry and the <a href="https://github.com/srenner/svoregistry-v2">source code</a> that runs this site.
	</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
