{% extends 'base.html' %}
{% block title %}Mustang SVO Registry - About{% endblock %}
{% block head %}
{% load staticfiles %}
<meta name="description" content="Information and statistics about the Mustang SVO Registry" />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/chartist.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/chartist-custom.css' %}" />
{% endblock %}
{%block content %}
<h1>About The <span class="hidden-xs">Mustang SVO </span>Registry</h1>
<div class="lead">
	<div>
		<img class="img-rounded img img-responsive center-block" src="{% static 'img/84ad.jpg' %}" alt="1984 Mustang SVO promotional image" />
	</div>
	<p>
		The Ford Mustang SVO was a limited-production version of the Ford Mustang sold from 1984 to 1986.
		The Mustang SVO Registry was built as a way for owners, potential owners, and other SVO enthusiasts to read about the history of each SVO. 
		As the registry grows, SVO enthusiasts can track any SVO through time to read the history of the car as it has changed hands over the years. 
	</p>
	<p>
		Visitors should feel free to download entire copies of the registry and the <a href="https://github.com/srenner/svoregistry-v2">source code</a> that runs this site.
	</p>
	<p>
		More information about the Mustang SVO can be found at <a href="http://en.wikipedia.org/wiki/Ford_Mustang_SVO">Wikipedia</a>.
	</p>
</div>
<hr>
<h2>Registry Statistics</h2>
<p class="text-center">The registry now contains {{cars}} cars and {{entries}} entries!</p>
<div class="row">
	<div class="col-md-12 stat-box">
		<h4 class="text-center">Registered Cars by Color Code</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-color"></div>
	</div>
	<div class="col-md-6 col-sm-12 stat-box">
		<h4 class="text-center">Registered Cars by Year</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-year"></div>
	</div>
	<div class="col-md-6 col-sm-12 stat-box">
		<h4 class="text-center">Vehicle Status</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-status"></div>
	</div>
	<div class="col-md-12 stat-box">
		<h4 class="text-center">Entries Logged Per Year</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-timeline"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'registry/js/vendor/chartist.min.js' %}" type="text/javascript"></script>
<script src="{% static 'registry/js/statistics.js' %}" type="text/javascript"></script>
{% endblock %}
