<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-33233994-1', 'auto');
	  ga('send', 'pageview');
	</script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/bootstrap/css/bootstrap.min.css' %}" />
	<style type="text/css">
		.navbar-brand {
			background-image: url("{% static 'img/shadow_logo.png' %}");
			background-repeat: no-repeat;
			padding-left: 120px;
		}
	</style>
	{% block head %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/style.css' %}" />
</head>
<body>
	<nav class="container-fluid navbar navbar-default navbar-static-top" role="navigation">
		<div>
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          	<a class="navbar-brand" href="/"></a>
        	</div>
	        <div id="navigationbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/new/">New</a></li>
					<li><a href="/search/">Search</a></li>
					<li><a href="/statistics/">Stats</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
				<a class="btn btn-default navbar-btn pull-right" href="/download"><span class="glyphicon glyphicon-download"></span> Download</a>
			</div>
  		</div>
    </nav>
	<div id="divContent" class="container">
		<noscript>
			<div class="alert alert-danger">
				<p class="text-center">
					<span class="glyphicon glyphicon-warning-sign"></span>
					<strong>Enable JavaScript for a better experience on this site.</strong>
				</p>
			</div>
		</noscript>
		{% block content %}{% endblock %}
	</div>
	<footer id="divFooter" class="container text-right">
		<hr>
		<span class="hidden-xs">developed by </span><a href="http://www.shawnrenner.com/">srenner</a>
		|
		<a href="https://github.com/srenner/svoregistry-v2">github</a>
		|
		<a href="mailto:webmaster@svoregistry.com">webmaster@svoregistry.com</a>
		<span>
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</span>
	</footer>
	<script src="{% static 'registry/js/vendor/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'registry/js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'registry/js/jquery-ajax-csrf.js' %}"></script>
	<script src="{% static 'registry/js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		var DjangoURL = {
		  static: "{{ STATIC_URL }}",
		  media: "{{ MEDIA_URL }}"
		};
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>