<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/style.css' %}" />
	<style type="text/css">
		.navbar-brand {
			background-image: url("{% static 'img/shadow_logo.png' %}");
			background-repeat: no-repeat;
			padding-left: 170px;
			font-variant: small-caps;
			font-style: italic;
			font-size: 36px;
		}
		.navbar-brand span {
			color: #000;
			font-size: 38px;
		}
	</style>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          	<a class="navbar-brand" href="/"><span>Registry</span></a>
        	</div>
	        <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/forsale">For Sale</a></li>
					<li><a href="/statistics">Stats</a></li>
					<li><a href="/about">About</a></li>
				</ul>
				<div class="pull-right">
					<button class="btn btn-info"> <span class="glyphicon glyphicon-download"></span> Download Registry</button>
					<span>
						<div class="g-plusone" data-size="medium" data-annotation="none"></div>
						<script type="text/javascript">
						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
					</span>
				</div>
			</div>
  		</div>
    </div>
	<div id="divContent" class="container">
		{% block content %}{% endblock %}
	</div>
	<footer id="divFooter" class="container text-right">
		<hr>
		developed by <a href="http://www.shawnrenner.com/">srenner</a>
		|
		code @ <a href="https://github.com/srenner/svoregistry-v2">github</a>
		|
		<a href="mailto:webmaster@svoregistry.com">webmaster@svoregistry.com</a>
	</footer>
	<script src="{% static 'registry/js/vendor/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'registry/js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'registry/js/vendor/ractive-legacy.min.js' %}" type="text/javascript"></script>
	{% block scripts %}{% endblock %}
</body>
</html>