<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/tinymce/skins/lightgray/skin.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/tinymce/skins/lightgray/content.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'registry/css/svo-colors.css' %}" />
	<style type="text/css">
		.navbar-brand {
			background-image: url("{% static 'img/shadow_logo.png' %}");
			background-repeat: no-repeat;
			padding-left: 170px;
			font-variant: small-caps;
			font-style: italic;
			font-weight: 500;
		}
		.navbar-brand span {
			color: #101010;
			font-size: 48px;
		}
	</style>
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          	<a class="navbar-brand" href="/"><span>Registry</span></a>
        	</div>
	        <div id="navigationbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/new">New Entries</a></li>
					<li><a href="/statistics">Stats</a></li>
					<li><a href="/about">About</a></li>
				</ul>
				<a class="btn btn-default navbar-btn" href="/download"><span class="glyphicon glyphicon-download"></span> Download</a>
			</div>
  		</div>
    </nav>
	<div id="divContent" class="container">
		<noscript>
			<div class="alert alert-danger">
				<p class="text-center">
					<span class="glyphicon glyphicon-warning-sign"></span>
					<strong>Enable JavaScript for a better experience on this site.</strong>
				</p>
			</div>
		</noscript>
		{% block content %}{% endblock %}
	</div>
	<footer id="divFooter" class="container text-right">
		<hr>
		developed by <a href="http://www.shawnrenner.com/">srenner</a>
		|
		<a href="https://github.com/srenner/svoregistry-v2">github</a>
		|
		<a href="mailto:webmaster@svoregistry.com">webmaster@svoregistry.com</a>
		<span>
			<div class="g-plusone" data-size="medium" data-annotation="none"></div>
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</span>
	</footer>
	<script src="{% static 'registry/js/vendor/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'registry/js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'registry/js/jquery-ajax-csrf.js' %}"></script>
	<script src="{% static 'registry/js/vendor/bootstrap.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		var DjangoURL = {
		  static: "{{ STATIC_URL }}",
		  media: "{{ MEDIA_URL }}"
		};
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>