<div class="panel panel-default">
	<div class="panel-heading">
		Car Details
	</div>
	<div class="panel-body">
<table class="table table-condensed">
	<tbody>
		{% if car.year == "1984" %}
		<tr>
			<th>Slapper bars</th>
			<td>{{car.slappers|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Interior</th>
			<td>{{car.interior|default_if_none:"Unknown"}}</td>
		</tr>
		<tr>
			<th>Sunroof</th>
			<td>{{car.sunroof|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% if car.has_23 == False %}
		<tr class="alert-danger">
			<th>Original Engine</th>
			<td>{{car.has_23|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% endif %}
		{% if car.wing_delete == True %}
		<tr>
			<th>Wing Delete</th>
			<td>{{car.wing_delete|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% endif %}
		{% if car.on_road == False %}
		<tr class="alert-danger">
		{% else %}
		<tr>
		{% endif %}
			<th>On Road</th>
			<td>{{car.on_road|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% if car.on_road == False %}
		{% if car.deceased == True %}
		<tr class="alert-danger">
		{% else %}
		<tr>
		{% endif %}
			<th>Deceased</th>
			<td>{{car.deceased|yesno:"Yes,No,Unknown"}}</td>
		</tr>
		{% endif %}
	</tbody>
</table>	
	</div>
</div>

