{% load filters %}
{% load humanize %}
<div class="registry-entry container row">
	<a name="{{entry.id}}"></a>
	<div class="row registry-entry-header svo-{{entry.color}}">
		<div class="col-md-6 col-sm-6">{{entry.mileage|intcomma}} Miles. {{entry.entry_datetime|date}}.</div>
		<div class="col-md-6 col-sm-6 text-right">
			Owned by {{entry.owner|default_if_none:"Unknown"|default:"Unknown"}}.
			{{entry.city|default_if_none:""}} {{entry.state|default_if_none:""}} {{entry.country|default_if_none:""}} {{entry.zipcode|default_if_none:""}}
		</div>
	</div>
	<div class="row registry-entry-body">
		{% if entry.photo %}
		<img class="img-responsive" src="{{ MEDIA_URL }}{{entry.photo}}" />	
		{% endif %}
		<h3>Entry Comments:</h3>
		<div class="registry-entry-comments col-md-12">
			{{entry.comments|safe|default:"<em>No comments for this entry.</em>"}}
		</div>
	</div>
	<div class="row registry-entry-footer">
		<div class="pull-right text-right">
			<a class="flag-entry" href="#">
			<span>Flag this entry for review</span>
			<span class="glyphicon glyphicon-flag"></span>
			</a>
		</div>
	</div>
</div>
