{% load filters %}
{% load humanize %}
<article>
	<div class="registry-entry">
		<a name="{{entry.id}}"></a>
		<div class="row registry-entry-header svo-{{entry.color}}">
			<div class="col-sm-6 col-xs-12 text-left">
				{% if entry.mileage == 0 or entry.mileage == None %}
				{% else %}
				{{entry.mileage|intcomma}} Miles on
				{% endif %}
				<time datetime="{{ entry.entry_datetime|date:"Y-m-d" }}">{{entry.entry_datetime|date}}</time>
			</div>
			<div class="col-sm-6 col-xs-12 text-right">
				{% if entry.owner == '' %}
				{% else %}
				Owned by {{entry.owner|default_if_none:"Unknown"|default:"Unknown"}} in
				{% endif %}
				{% if entry.city or entry.state or entry.country or entry.zipcode %}
				{{entry.city|default_if_none:""}} {{entry.state|default_if_none:""}} {{entry.country|default_if_none:""}} {{entry.zipcode|default_if_none:""}}
				{% else %}
				{% endif %}
			</div>
		</div>
		<div class="row registry-entry-body">
			{% if entry.photo %}
			<img class="img-responsive" src="{{ MEDIA_URL }}{{entry.photo}}" alt="Entry Photo" itemprop="image" />
			{% endif %}
			{% if entry.for_sale %}
			<section class="row-space">
				{% if entry.url and entry.timesince < 45 %}
				<a href="{{entry.url}}" target="_blank">
				{% endif %}
				<div class="money">
				{% if entry.url and entry.timesince < 45 %}
				<span class="glyphicon glyphicon-link"></span>
				{% endif %}
				{% if entry.list_price %}
					Asking price ${{ entry.list_price | floatformat:0 | intcomma }}.
				{% endif %}
				{% if entry.transaction_price %}
					Sold for ${{entry.transaction_price | floatformat:0 | intcomma }}.
				{% endif %}
				{% if not entry.list_price and not entry.transaction_price %}
					For sale.
				{% endif %}
				</div>
				{% if entry.url and entry.timesince < 45 %}
				</a>
				{% endif %}
			</section>
			{% endif %}
			<section>
				<div class="registry-entry-comments col-md-12">
					{{entry.comments|safe|default:"<em>No comments for this entry.</em>"}}
				</div>
			</section>
		</div>
		<div class="row registry-entry-footer">
			<div class="pull-left text-left">
				<a href="/{{entry.car_id}}/#{{entry.id}}"><span class="glyphicon glyphicon-link"></span>Direct link</a>
				{% if user.is_staff %}
				<span>
					| <a href="/admin/registry/entry/{{entry.id}}/" target="_blank">
						<span class="glyphicon glyphicon-pencil"></span>
						({{entry.entry_flag}})
					</a>
				</span>
				{% endif %}
			</div>
			<div class="pull-right text-right">
				<a class="flag-entry" data-entry-id="{{entry.id}}">
				<span>Flag entry for review</span>
				<span class="glyphicon glyphicon-flag"></span>
				</a>
			</div>
		</div>
	</div>
</article>
