{% extends 'base.html' %}
{% load humanize %}
{% block title %}Mustang SVO Registry - The SVO Market{% endblock %}
{% block head %}
{% load staticfiles %}
<meta name="description" content="Market and price data for the Mustang SVO" />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/chartist.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/chartist-custom.css' %}" />
<script>
	var chartData = "{{ chartdata }}";
	//alert(chartData);
</script>
<!--<style type="text/css">
	.table-hover tbody tr:hover {
		cursor: pointer;
	}
</style> -->
{% endblock %}
{% block header %}
<header class="svo-2A">
	<h1>Mustang SVO Market</h1>
	<p class="text-center">Cars for sale and data on recent sales</p>
</header>
{% endblock %}
{%block content %}
<div class="row">
	<div class="col-xs-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Entry Date</th>
					<th>VIN</th>
					<th>Car Details</th>
					<th>Mileage</th>
					<th>List Price</th>
					<th>Per 10k Miles</th>
					<th>Transaction Price</th>
					<th>Per 10k Miles</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
					<tr>
						<td>
							<time datetime="{{ entry.entry_datetime|date:"Y-m-d" }}">{{entry.entry_datetime|date}}</time>
						</td>
						<td>
							<a href="/{{entry.car}}/">{{ entry.car }}</a>
						</td>
						<td>
							{% if entry.year %}
							{{ entry.year }}
							{% endif %}

							{% if entry.color %}
							{{ entry.color }}
							{% endif %}
						</td>
						<td>
							{% if entry.mileage %}
							{{ entry.mileage | intcomma }}
							{% else %}
							---
							{% endif %}
						</td>
						<td>
							{% if entry.list_price %}
							${{ entry.list_price | floatformat:0 | intcomma }}
							{% else %}
							---
							{% endif %}


						</td>
						<td>
						{% if entry.list_price_rate > 0 %}
						${{ entry.list_price_rate | floatformat:0 | intcomma }}
						{% else %}
						---
						{% endif %}
						</td>
						<td>
							{% if entry.transaction_price %}
							${{ entry.transaction_price | floatformat:0 | intcomma }}
							{% else %}
							---
							{% endif %}
						</td>
						<td>
						{% if entry.transaction_price_rate > 0 %}
						${{ entry.transaction_price_rate | floatformat:0 | intcomma }}
						{% else %}
						---
						{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div id="divScatterBox" class="scatter-box ct-chart hidden"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<!--<script src="{% static 'registry/js/vendor/chartist.min.js' %}" type="text/javascript"></script>
<script src="{% static 'registry/js/market.js' %}" type="text/javascript"></script>  -->
{% endblock %}
