{% extends 'base.html' %}
{% block title %}Mustang SVO Registry - Moderator{% endblock %}
{% block head %}
{% load staticfiles %}
<meta name="description" content="Moderator Console" />
{% endblock %}
{%block content %}
<header>
	<h1>Moderator Console</h1>
</header>
<div class="row">
	<div class="col-sm-6">
		<h2>Flagged Entries</h2>
		<ul class="list-unstyled">
			{% for entry in entries %}
				<li>{% include 'entry.html' %}</li>
			{% endfor %}
		</ul>
		{% if entries.count == 0 %}
		<p class="text-center">Nothing to show</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<h2>Deleted Entries</h2>
		<ul class="list-unstyled">
			{% for entry in deleted %}
				<li>{% include 'entry.html' %}</li>
			{% endfor %}
		</ul>
		{% if deleted.count == 0 %}
		<p class="text-center">Nothing to show</p>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
