{% extends 'base.html' %}
{% block title %}Mustang SVO Registry{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}
{%block content %}
<h1>Registry Statistics</h1>
<p class="text-center">The registry now contains {{cars}} cars and {{entries}} entries!</p>
<div>
	
	<div class="stat-box">Statistic 1</div>
	<div class="stat-box">Statistic 2</div>
	<div class="stat-box">Statistic 3</div>
	<div class="stat-box">Statistic 4</div>
	
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
