{% extends 'base.html' %}
{% block title %}Mustang SVO Registry - Statistics{% endblock %}
{% block head %}
{% load staticfiles %}
<meta name="description" content="Mustang SVO Registry statistics. Details on {{cars}} cars and {{entries}} entries." />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/vendor/chartist.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'registry/css/chartist-custom.css' %}" />
{% endblock %}
{%block content %}
<h1>Registry Statistics</h1>
<p class="text-center">The registry now contains {{cars}} cars and {{entries}} entries!</p>
<div class="row">
	<div class="col-md-12 stat-box">
		<h4 class="text-center">Registered Cars by Color Code</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-color"></div>
	</div>
	<div class="col-md-6 col-sm-12 stat-box">
		<h4 class="text-center">Registered Cars by Year</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-year"></div>
	</div>
	<div class="col-md-6 col-sm-12 stat-box">
		<h4 class="text-center">Vehicle Status</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-status"></div>
	</div>
	<div class="col-md-12 stat-box">
		<h4 class="text-center">Entries Logged Per Year</h4>
		<noscript>
			<p class="text-center">Enable JavaScript to view</p>
		</noscript>
		<div class="ct-chart" id="stats-timeline"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'registry/js/vendor/chartist.min.js' %}" type="text/javascript"></script>
<script src="{% static 'registry/js/statistics.js' %}" type="text/javascript"></script>
{% endblock %}
